---
layout: default
title: 首页
index: active
---
</br>
<div class="container-fluid">
<div class="row-fluid">
  <div class="span4 index-left">
    <div class="content-title">
      <span class="title">最新文章</span>
      <span class="gray-3">专注，热爱，分享IT那一些事儿</span>              
    </div>
    <div>
      <ul>
		{% for post in site.posts %}
		  {% if post.category != 'books' %}
		    <li>
  		  	  <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
  		  	  <div class="post_list">
  		  	  	标签：      	  		  	  	
  		  	    {% for tag in post.tags %}
  		  	    	{% if forloop.first %}
  		  	    	  <span class="tag-label">{{ tag }}</span>
  		  	    	{% else %}
				  &nbsp;<span class="tag-label">{{ tag }}</span>
				{% endif %}
			{% endfor %}
		    </li>
		  {% endif %}
		{% endfor %}
	  </ul>
    </div>
  </div>
  <div class="span10 index-right">
    <div class="content-title">
      <span class="title">自我介绍</span>      
    </div>
    <div>      	
      <ul>		
		<li>
		  <div class="gray-3">	  
		    <p>90后，Javaer，宅男，无不良嗜好，强迫症患者</p>
		    <p>地 点：福州、中山</p>
		    <p>Q  Q：1323736312</p>
		    <p>邮箱：1323736312@qq.com</p>
		    <p>友链申请请联系QQ</p>
		  </div>
		</li>
	  </ul>     
    </div>
    <div class="content-title">
      <span class="title">标签分类</span>      
    </div>
  </div>
</div>
</div>
