---
layout: default
title: 首页
index: active
---
</br>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 index-left">
            <div class="content-title">
                <span class="title">最新文章</span>
                <span class="gray-3">专注，热爱，分享IT那一些事儿</span>
            </div>
            <div>
                <ul>
                    {% for post in site.posts limit:10 %}
                    {% if post.category == 'blogs' or post.category == 'tools' %}
                    <li>
                        <div class="post-list">
                            <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                            标签：
                            {% for tag in post.tags %}
                            {% if forloop.first %}
                            <a href="{{ site.baseurl }}/pages/tags?tag={{ tag }}" class="tag-label">{{ tag }}</a>
                            {% else %}
                            &nbsp;<a href="{{ site.baseurl }}/pages/tags?tag={{ tag }}" class="tag-label">{{ tag }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span10 index-right">
            <div class="content-title">
                <span class="title">自我介绍</span>
            </div>
            <div>
                <ul>
                    <li>
                        <div class="gray-3">
                            <p>90后，Coder，宅男，重度强迫症患者<img src="/public/img/yaotouhuanglao.gif"></p>
                            <p>地 点：福州</p>
                            <p>Q Q：1323736312</p>
                            <p>邮箱：1323736312@qq.com</p>
                            <p>友链申请请联系QQ或邮箱</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-title">
                <span class="title">标签分类</span>
            </div>
            <div id="tag-cloud">
                {% for tag in site.tags %}
                <a href="{{ site.baseurl }}/pages/tags?tag={{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                    {{ tag[0] }}
                </a>
                {% endfor %}
            </div>
            <div id="show-tag">
                <div style="text-align:center">
                </div>
            </div>
        </div>
    </div>
</div>
