---
layout: default
title: 首页
index: active
---
</br>
<div class="container-fluid">
<div class="row-fluid">
  <div class="span4 index-left">
    <div class="content-title">
      <span class="title">最新文章</span>
      <span class="gray-3">专注，热爱，分享IT那一些事儿</span>              
    </div>
    <div>
      <ul>
		{% for post in site.posts %}
		  {% if post.category != 'books' %}
			    <li>
	  		  	  <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
	  		  	  <div class="post_list">
	  		  	  	标签：      	  		  	  	
	  		  	    {% for tag in post.tags %}
	  		  	    	{% if forloop.first %}
	  		  	    	  <span class="tag-label">{{ tag }}</span>
	  		  	    	{% else %}
					  &nbsp;<span class="tag-label">{{ tag }}</span>
					{% endif %}
				{% endfor %}
			    </li>
		  {% endif %}
		{% endfor %}
	  </ul>
    </div>
  </div>
  <div class="span10 index-right">
    <div class="content-title">
      <span class="title">自我介绍</span>       
      <div>      	
      	<ul>
		  <li>Sheleng 个人博客，欢迎访问</li>
		  <li><h4>关于</h4></li>
	    </ul>     
    </div>
  </div>
</div>
</div>
