#github_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

footer {
  margin-top:15px;
  padding-top:15px;
  height:50px;
  border-top:10px;
  background: #212121;
  color: #f2f2f2;
  text-align: center;
  display: block;
  font: inherit;
  vertical-align: baseline;
}

#page_content{
  margin-left: auto;
  margin-right: auto;
  max-width: 989px;
}

.post_date{
  position: absolute;
  right: 0;
  top: 5px;
  background: #7798cb;
  font-size: 8pt;
  color: #fff;
  -webkit-text-size-adjust: none;
  text-align: center;
  padding: 2px 3px
}

.post_date em {
  font-style: normal;
  font-family: Calibri;
  font-size: 16pt;
  display: block;
  font-weight: bold;
}

.post_list{
  margin: 0 0 15px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  position: relative;
  list-style-type:none
}