.github-banner {
  display: block;
  position: absolute;
  top:0;
  right: 30px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.github-banner a:hover{text-decoration: none}
.github-banner a:active{text-decoration: none}

#page-content{margin-left: auto;margin-right: auto;max-width: 989px;}

footer {padding-top:15px;height:50px;border-top:10px;background: #212121;color: #f2f2f2;text-align: center;}
footer a:visited {text-decoration: none;}
footer a:hover   {text-decoration: none;}
footer a:active  {text-decoration: none;}

.index-left{width: 60%;float: left;}
.index-left ul{padding-left: 0px;list-style-type: none;}
.index-right{width: 35%;float: right;}
.index-right ul{padding-left: 0px;list-style-type: none;}

.content-title{height: 37px;line-height: 37px;margin-bottom: 5px;font-size: 100%;font-weight: normal;}

.content-title .title{
  background: none repeat scroll 0 0 #1f1f1f;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 37px;
  line-height: 37px;
  margin-right: 20px;
  padding: 0 10px;
  text-align: center;
}

.gray-3{color: #888;}
.gray-3 p{vertical-align: bottom;}

.post-list{margin: 0 0 15px 0;border-bottom: 1px solid #eee;padding-bottom: 5px;position: relative;list-style-type:none;}
.post-list a:visited{text-decoration: none}
.post-list a:hover{text-decoration: none}
.post-list a:active{text-decoration: none}

.post-description{width: 90%}

.post-info {margin-bottom: 0;background-color: #fbfbfb;border: 1px solid #ccc;border-top: none;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;color: #999;}

.post-date{position: absolute;right: 0;top: 5px;background: #7798cb;font-size: 8pt;color: #fff;-webkit-text-size-adjust: none;text-align: center;padding: 2px 3px}
.post-date em {font-style: normal;font-size: 16pt;display: block;font-weight: bold;}

.tag-label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 3px;
}

.link-description {text-align: center;color:rgb(145, 103, 103)}
.link-description p{padding-top: 5px;padding-bottom: 8px;}

.link-title{padding: 4px 0;overflow: hidden;}
.link-title .text{font-size: 18px;font-weight: normal;}
.link-title .line{height: 1px;border-bottom: 1px solid #eeeeee;display: block;width:90%;float: right;margin-top:11px;}

.link-list{overflow: hidden;}
.link-list a{float: left;padding: 1px 10px;margin:4px 8px;color:rgb(145, 103, 103);font-size:18px;}
.link-list a:hover{text-decoration: none;background: rgb(145, 103, 103);color: white;border-radius:5px;}
.link-list a:active{text-decoration: none;background: rgb(145, 103, 103);color: white;border-radius:5px;}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  margin-left: auto;
  margin-right: auto;
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.book-tab-content{
  padding-left: 150px;
}

.times {display:block;margin:15px 0;}/*首先，我们要创建一个容器class*/
.times ul {margin-left:25px;border-left:2px solid #ddd;}/*利用ul标签的特性，设置外边框左移25px，左边边框是2px粗的实心线，颜色一般要浅一点*/
.times ul li {width:100%;margin-left:-12px;line-height:20px;font-weight:normal;list-style-type:none;}/*一般情况，通过li标签控制圆点回到时间线上，然后控制要出现的文字大小和是否粗体*/
.times ul li b {width:8px;height:8px;background:#fff;border:2px solid #555;margin:5px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;overflow:hidden;display:inline-block;float:left;}/*利用处理加粗以外没有其它特别属性b标签做时间轴的圆点。*/
.times ul li span {padding-left:7px;font-size:16px;line-height:20px;color:#555;}/*设置span标签的属性，让它来做时间显示，加一点边距，使时间显示离时间线远一点*/
.times ul li:hover b {border:2px solid #ff6600;}/*注意这一行，前面的li标签后面加了一个:hover伪属性，意思是鼠标移上来，激活后面的属性，这样可以设置鼠标移动到整个时间范围的时候，时间点和时间显示会变色*/
.times ul li:hover span {color:#ff6600;}/*同上*/
.times ul li p {padding-left:15px;font-size:14px;line-height:25px;}/*这里利用段落标签p做文字介绍*/