.article-content h3 {
    font-size: 16px;
    font-weight: blod;
    margin: 20px -20px 20px -24px;
    padding: 10px 20px 9px 10px;
    line-height: 18px;
    border-left: 4px solid #0E0E0F;
    background-color: #fbfbfb;    
}

.article-content p {
    margin: 0 0 15px 0
}