---
layout: default
title: 归档
archive: active
---

<div class="times">
    {% for post in site.posts  %}
      {% capture this-year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this-month %}{{ post.date | date: "%m" }}{% endcapture %}
      {% capture next-year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next-month %}{{ post.previous.date | date: "%m" }}{% endcapture %}

        {% if forloop.first %}
          <legend id="{{this-year}}-{{this-month}}">{{this-year}}-{{this-month}}</legend>
          <ul>
        {% endif %}
        
        <li><b></b><span>{{ post.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;<a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a></span></li>
    
        {% if forloop.last %}
          </ul>
        {% else %}
          {% if this-year != next-year %}
            </ul>
            <legend id="{{next-year}}-{{next-month}}">{{next-year}}-{{next-month}}</legend>
            <ul>
          {% else %}
            {% if this-month != next-month %}
              </ul>
              <legend id="{{next-year}}-{{next-month}}">{{next-year}}-{{next-month}}</legend>
              <ul>
            {% endif %}
          {% endif %}
        {% endif %}
    {% endfor %}  
</div>