---
layout: default
title: 博文
blogs: active
---

<ul>
  {% for category in site.categories %}
    {% if category[0] == 'blogs' %}
      {% for post in category[1] %}
      	<li class="post_list">
      	  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      	  <div>
          	<p>{{ post.description }}</p>
          	<p><a href="{{ post.url }}">阅读全部...</a></p>
          </div>
      	  <span class="post_date">
          	<em>{{ post.day }}</em>
          	{{ post.year-month }}
          </span>
      	</li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>