---
layout: default
title: 标签
---
<div onloadeddata="showTagPost()">
  {% for tag in site.tags %}
    <ul id="{{ tag[0] }}" style="display: none">
      {% for post in tag[1] %}
          <li class="post-list">
            <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
            <div class="post-description">
              <p>{{ post.description }}</p>
              <p>
                标签：
                {% for tag in post.tags %}
                  {% if forloop.first %}
                   <span class="tag-label">{{ tag }}</span>
                  {% else %}
                    &nbsp;<span class="tag-label">{{ tag }}</span>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
            <span class="post-date">
              <em>{{ post.date | date: "%d"}}</em>
              {{ post.date | date: "%Y-%m" }}
            </span>
          </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>