---
layout: default
title: 工具
tools: active
---

<div>
  {% for category in site.categories %}
    {% if category[0] == 'tools' %}
      {% for post in category[1] %}
      	<div>
      	  <a href="{{ post.url}}"><h3>{{ post.title }}</h3></a>      	  
      	</div>
      	<span id="post_date">{{post.date}}</span>
      	<div>
      	  <p>{{post.description}}</p>
      	</div>
      	<div>
      	  <p><a href="{{post.url}}">阅读全部...</a></p>
      	</div>
        <hr>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>