---
layout: default
title: 工具
tools: active
---

<ul>
  {% for category in site.categories %}
    {% if category[0] == 'tools' %}
      {% for post in category[1] %}
      	<li class="post_list">
      	  <h3><a href="{{ post.url}}">{{ post.title }}</a></h3>
      	  <span id="post_date">{{post.date}}</span>  
      	  <span class="post_date">
          <em>{{post.year-month}}}</em>
          {{post.day}}
          <p>{{post.description}}</p>
          <p><a href="{{post.url}}">阅读全部...</a></p>
        </span>
      	</li>        
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>