---
layout: default
title: 工具
tools: active
---

<ul>
  {% for category in site.categories %}
    {% if category[0] == 'tools' %}
      {% for post in category[1] %}
      	<li class="post_list">
      	  <h3><a href="{{ post.url}}">{{ post.title }}</a></h3>      	  
      	  <span class="post_date">
          	<em>{{post.day}}</em>
          	{{post.year-month}}
          	<div>
          		<p>{{post.description}}</p>
          		<p><a href="{{post.url}}">阅读全部...</a></p>
          	</div>
          </span>
      	</li>        
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>