<!DOCTYPE html>
<html>
  <head>    
    <meta http-equiv="X-UA-Compatible" content="chrome=1" charset='utf-8'>
    <meta name="description" content="Sheleng Blog : Learn and live.">

    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/style.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" tyep="text/css" href="/public/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/public/js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/public/js/bootstrap.min.js"></script> 
    <script src="/public/main.js"></script>

    <title>{{page.title}}</title>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">                
        <div class="nav-collapse">
          <ul class="nav navbar-nav">           
            <li class={{page.index}}>
              <a href="/index.html">首页</a>
            </li>
            <li class={{page.blogs}}>
              <a href="/pages/blogs.html">博文</a>
            </li>
            <li class={{page.repost}}>
              <a href="/pages/repost.html">转帖</a>
            </li>
            <li class={{page.tools}}>
              <a href="/pages/tools.html">工具</a>
            </li>
            <li class={{page.archive}}>
              <a href="/pages/archive.html">归档</a>
            </li>
            <li class={{page.about}}>
              <a href="/pages/about.html">关于</a>
            </li>
            <li class={{page.links}}>
              <a href="/pages/links.html">邻居</a>
            </li>          
            <a id="github_banner" href="https://github.com/Sheleng">View on GitHub</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </br></br></br>
  <!-- Main Content
  ================================================== -->
  <div id="page-content">
    {{content}}
  </div>
  
  <!-- Scroll-to-top
  ================================================== -->  
  <!--
  <div class="go_top" id="go_top_btn" style="display: block;">Top
  </div>
  -->

  <!-- Footer
  ================================================== --> 
  <footer>
    <p align="center">版权声明：自由转载-非商用-非衍生-保持署名<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">（创意共享3.0许可证）</a></p> 
  </footer>
  </body>
</html>