<!DOCTYPE html>
<html>
  <head>    
    <meta http-equiv="X-UA-Compatible" content="chrome=1" charset='utf-8'>
    <meta name="description" content="Sheleng Blog : Learn and live.">

    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" tyep="text/css" href="../bootstrap/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../bootstrap/js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script> 

    <title>{{page.title}}</title>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">                  
        <div class="nav-collapse">
          <ul class="nav navbar-nav">
            <li class={{page.index}}>
              <a href="../index.html">首页</a>
            </li>
            <li class={{page.categories}}>
              <a href="../categories.html">分类</a>
            </li>
            <li class={{page.state}}>
              <a href="./scaffolding.html">Scaffolding</a>
            </li>
            <li class={{page.state}}>
              <a href="./base-css.html">Base CSS</a>
            </li>
            <li class={{page.state}}>
              <a href="./components.html">Components</a>
            </li>
            <li class={{page.state}}>
              <a href="./javascript.html">JavaScript</a>
            </li>
            <li class={{page.about}}>
              <a href="../about.html">关于</a>
            </li>           
            <a id="forkme_banner" href="https://github.com/Sheleng">View on GitHub</a>
          </ul>
        </div>
      </div>
    </div>
  </div>  
  </br></br>
  
  <!-- Main Content
  ================================================== -->
  {{content}}

  <!-- Footer
  ================================================== -->
  <div id="footer_wrap" class="outer">
      <footer class="inner">        
        <p align="center">版权声明：自由转载-非商用-非衍生-保持署名<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">（创意共享3.0许可证）</a></p>
      </footer>
  </div>
  </body>
</html>